.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-top: 60px;
  
  min-width: 320px;
  min-height: 320px;
}

.Content {
  display: block;
  margin-bottom: 60px;
}
